```xml
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squanchNastyAI">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ChatMode" />
        <activity android:name=".DeveloperMode" />

        <service android:name=".AIEngine" />
        <service android:name=".Personality" />
        <service android:name=".Memory" />
        <service android:name=".ProjectSetup" />
        <service android:name=".CodeGenerator" />
        <service android:name=".LearningModule" />
        <service android:name=".EvolutionModule" />
        <service android:name=".SelfPrompter" />
        <service android:name=".TodoList" />
        <service android:name=".APKGenerator" />

    </application>

</manifest>
```